html{
    background-color: #BFC3BA
}

#heading{
    font-family: 'Teko', sans-serif;
    /* text-decoration:underline; */
    text-align: center;
    color: rgb(134, 22, 13);
}

#result{
    position: relative;
    text-align: center;
    top: 475px;
    right: 30px;
    font-family: 'My Boli', sans-serif;
    color: seagreen;

}
#e{
    border-image-width: auto;
    width: 100px;
    height: 100px;
position: absolute;
}

#grid{
    
    width: 1350px;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
}